<h2>Eventos</h2>
    {{#each eventos}}
        <div class="eventos">
            <h3>{{titulo}}</h3>
            <h4>{{subtitulo}}</h4>
            <p>{{cuerpo}}</p>
        <hr>
        </div>
    {{/each}}