<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FiestaHoy</title>
  <link rel="icon" type="image/x-icon" href="/public/images/icon.png">
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/fiestahoy.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap">
</head>

<body>
  <header>
    <div class="holder">
      <a href="/">
      <img src="/images/logo.png" width="100" alt="Fiestahoy">
      <h1>FiestaHoy </h1>
      </a>
    </div>
  </header>
  <nav>
    <div class="holder">
      <ul>
        <li><a class="{{#if isHome}}activo{{/if}}" href="/">Home</a></li>
        <li><a class="{{#if isNosotros}}activo{{/if}}" href="/nosotros">Nosotros</a></li>
        <li><a class="{{#if isGaleria}}activo{{/if}}" href="/galeria">Galeria</a></li>
        <li><a class="{{#if isEventos}}activo{{/if}}" href="/eventos">Eventos</a></li>
        <li><a class="{{#if isContacto}}activo{{/if}}" href="/contacto">Contacto</a></li>
      </ul>
    </div>
  </nav>

  <main class="holder">
    {{{body}}}
  </main>

  <footer>
    <p>Design by Flavia Ursino - &copy;2022</p>
    <P>Modified by C.S.R</P>
  </footer>
</body>

</html>