<div class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quae nemo doloribus, impedit assumenda
                quam, obcaecati tempora omnis vero, maxime perferendis cupiditate odit libero dolores eveniet natus eius
                officiis qui?
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quae nemo doloribus, impedit assumenda
                quam, obcaecati tempora omnis vero, maxime perferendis cupiditate odit libero dolores eveniet natus eius
                officiis qui?
            </p>
        </div>
        <div class="staff">
            <h2>Staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="/images/nosotros/nosotros1.jpg" alt="Juana Pati">
                    <h5>Juana Pati</h5>
                    <h6>DJ</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quae nemo doloribus, impedit
                        assumenda quam, obcaecati tempora omnis vero, maxime perferendis cupiditate odit libero dolores
                        eveniet natus eius officiis qui?
                    </p>
                </div>

                <div class="persona">
                    <img src="/images/nosotros/nosotros2.jpg" alt="Carlos Gomez">
                    <h5>Carlos Gomez</h5>
                    <h6>Tech Lead y DJ</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quae nemo doloribus, impedit
                        assumenda quam, obcaecati tempora omnis vero, maxime perferendis cupiditate odit libero dolores
                        eveniet natus eius officiis qui?
                    </p>
                </div>

                <div class="persona">
                    <img src="/images/nosotros/nosotros3.jpg" alt="Roberto Gonzales">
                    <h5>Roberto Gonzales</h5>
                    <h6>CEO y DJ</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quae nemo doloribus, impedit
                        assumenda quam, obcaecati tempora omnis vero, maxime perferendis cupiditate odit libero dolores
                        eveniet natus eius officiis qui?
                    </p>
                </div>

                <div class="persona">
                    <img src="/images/nosotros/nosotros4.jpg" alt="Pedro Pan">
                    <h5>Pedro Pan</h5>
                    <h6>CTO y DJ</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quae nemo doloribus, impedit
                        assumenda quam, obcaecati tempora omnis vero, maxime perferendis cupiditate odit libero dolores
                        eveniet natus eius officiis qui?
                    </p>
                </div>

                <div class="persona">
                    <img src="/images/nosotros/nosotros5.jpg" alt="Santiago Lei">
                    <h5>Santiago Lei</h5>
                    <h6>DJ</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quae nemo doloribus, impedit
                        assumenda quam, obcaecati tempora omnis vero, maxime perferendis cupiditate odit libero dolores
                        eveniet natus eius officiis qui?
                    </p>
                </div>
            </div>
        </div>